[submodule "external/transformer_explainability"]
	path = external/transformer_explainability
	url = https://github.com/hila-chefer/Transformer-Explainability.git
[submodule "external/pruning_by_explaining"]
	path = external/pruning_by_explaining
	url = https://github.com/erfanhatefi/Pruning-by-eXplaining-in-PyTorch.git
